@font-face {
    font-family: 'MyriadProRegular';
   	src: url('../fonts/MyriadProRegular.eot');
    src: url('../fonts/MyriadProRegular.eot') format('embedded-opentype'),
    		 url('../fonts/MyriadProRegular.woff') format('woff'),
   	     url('../fonts/MyriadProRegular.ttf') format('truetype'),
   	     url('../fonts/MyriadProRegular.svg#MyriadProRegular') format('svg');
}
@font-face {
    font-family: 'MyriadProBold';
    src: url('../fonts/MyriadProBold.eot');
    src: url('../fonts/MyriadProBold.eot') format('embedded-opentype'),
    		 url('../fonts/MyriadProBold.woff') format('woff'),
         url('../fonts/MyriadProBold.ttf') format('truetype'),
         url('../fonts/MyriadProBold.svg#MyriadProBold') format('svg');
}
@font-face {
    font-family: 'MyriadProLightSemiExt';
    src: url('../fonts/MyriadProLightSemiExt.eot');
    src: url('../fonts/MyriadProLightSemiExt.eot') format('embedded-opentype'),
    		 url('../fonts/MyriadProLightSemiExt.woff') format('woff'),
         url('../fonts/MyriadProLightSemiExt.ttf') format('truetype'),
         url('../fonts/MyriadProLightSemiExt.svg#MyriadProLightSemiExt') format('svg');
}
