@font-face {
    font-family: 'lato-regular';
   	src: url('../fonts/lato-regular.eot');
    src: url('../fonts/lato-regular.eot') format('embedded-opentype'),
    		 url('../fonts/lato-regular.woff') format('woff'),
   	     url('../fonts/lato-regular.ttf') format('truetype'),
   	     url('../fonts/lato-regular.svg#lato-regular') format('svg');
}
@font-face {
    font-family: 'lato-light';
    src: url('../fonts/lato-light.eot');
    src: url('../fonts/lato-light.eot') format('embedded-opentype'),
    		 url('../fonts/lato-light.woff') format('woff'),
         url('../fonts/lato-light.ttf') format('truetype'),
         url('../fonts/lato-light.svg#lato-light') format('svg');
}
@font-face {
    font-family: 'lato-bold';
    src: url('../fonts/lato-bold.eot');
    src: url('../fonts/lato-bold.eot') format('embedded-opentype'),
             url('../fonts/lato-bold.woff') format('woff'),
         url('../fonts/lato-bold.ttf') format('truetype'),
         url('../fonts/lato-bold.svg#lato-bold') format('svg');
}
@font-face {
    font-family: 'lato-black';
    src: url('../fonts/lato-black.eot');
    src: url('../fonts/lato-black.eot') format('embedded-opentype'),
    		 url('../fonts/lato-black.woff') format('woff'),
         url('../fonts/lato-black.ttf') format('truetype'),
         url('../fonts/lato-black.svg#lato-black') format('svg');
}
