.tgl-theme {

    + .tgl-btn {
        background: $light-gray;
        border-radius: 2em;
        padding: 1%;
        transition: all .4s ease;
        &:after {
            border-radius: 50%;
            background: $default-color;
            transition: all .2s ease;
        }
        &:before {
           color: $default-color ;
           font-size: rem(23.42);
           font-family: $boldFont;
           letter-spacing: 1px;
        }
    }

    &:checked + .tgl-btn {
        background: $primary-green;
    }
}