doctype html
html
	head
		meta(charset = 'utf-8')
		meta(name='viewport', content="initial-scale=1.0, width=device-width")
		title Webpack app

	include blocks/block-heading/heading.pug
	include blocks/block-button/button.pug
	include blocks/block-arrow-btn/arrow-btn.pug

	body
		main.page
			.page__wrapper
				section.btn-section
					.btn-section__wrapper
						+heading("standard buttons")
						div(class="btn-section__content-box content-box")
							+button("button", "#", "green_btn_theme ripple", "small_button")
							+button("button", "#", "green_btn_theme ripple")
							+button("button", "#", "red_btn_theme ripple")
							+button("button", "#", "red_btn_theme ripple", "small_button")
				section.btn-arrow-section
					.btn-arrow-section__wrapper
						+heading("arrow buttons")
						div(class="btn-arrow-section__content-box content-box")
							+arrow-btn("left", "green_theme_arrow")
							+arrow-btn("right", "green_theme_arrow")

				

				

