@import "utils/fonts";
@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";

html {
  line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
		font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
		font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
		font-size: 14px;
  }
}

body {
  font-family: $mainFont;
	font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  .light {
    font-family: $lightFont;
  }
  .bold {
    font-family: $boldFont; 
  }
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; font-family: $blackFont;}

a {
	text-decoration: none;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section, .section {
  position: relative;
  padding: 40px 0;
  @media screen and (max-width: $desktopWidth) {
    padding: 36px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 28px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 20px 0;
  }
}

.page__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 7.3%;
  //background-color: #000;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  max-width: $desktopWidth;
  margin: 0 auto;
  @media screen and (max-width: $smDesktopWidth) {
    max-width: tableWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: phoneWidth;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: smPhoneWidth;
  }
}

.content-box {
  justify-content: space-between;
  display: flex;
  margin: 3.6% auto;
  width: 100%;
}

.btn-section {
  .standart-heading__wrapper {
    margin: 9.7% 0;
  }
  .content-box {
    margin-top: 11.7%;
    margin-bottom: 19.5%;
    width: 77.8%;
  }  
}

.btn-arrow-section__content-box {
  justify-content: center;
  margin-top: 5.4%;
  > * {
    margin: 0 2%;
  }
}

.chart-section {
  padding: 0%;
  .content-box {
    padding: 0;
    width: 100%;
    margin-top: 2%;
  }
}

@import "../blocks/block-heading/heading.scss";
@import "../blocks/block-button/button.scss";
@import "../blocks/block-arrow-btn/arrow-btn.scss";
@import "../blocks/block-svg-percentages/svg-percentages.scss";
@import "../blocks/red_theme.scss";
@import "../blocks/green_theme.scss";
