@import "utils/fonts";
@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";

html {
  line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
		font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
		font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
		font-size: 14px;
  }
}

body {
  font-family: $mainFont;
	font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  .light {
    font-family: $lightFont;
  }
  .bold {
    font-family: $boldFont; 
  }
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; font-family: $blackFont;}

a {
	text-decoration: none;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section, .section {
  position: relative;
  padding: 40px 0;
  @media screen and (max-width: $desktopWidth) {
    padding: 36px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 28px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 20px 0;
  }
}

.page__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  max-width: $desktopWidth;
  margin: 0 auto;
  @media screen and (max-width: $smDesktopWidth) {
    max-width: tableWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: phoneWidth;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: smPhoneWidth;
  }
}

section > * {
  margin: auto 7.3%;
}

.content-box {
  justify-content: space-between;
  display: flex;
  margin: 3.6% auto;
  width: 100%;
}

.btn-section {
  .standart-heading__wrapper {
    margin: 9.7% 0%;
  }
  .content-box {
    margin-top: 11.7%;
    margin-bottom: 19.5%;
    width: 77.8%;
  } 
}

.btn-arrow-section {
  .btn-arrow-section__content-box {
    justify-content: center;
    margin-top: 5.4%;
    > * {
      margin: 0 2%;
    }
  }
}


.chart-section {
  padding: 0%;
  .chart-section__wrapper {
    margin: 0;
    .chart-section__content-box.content-box {
      justify-content: flex-start;
      padding: 0;
      margin-top: 2%;
      > * {
        margin: 0%;
        width: 18%;
        height: 33vh;
      }
      & > *:nth-child(1) {
        margin: 0 0.5% 0 3%;
      }
    }
  }
}

.slider-section {
  padding: 0;
  .slider-section__wrapper {
    .content-box > * {
      flex-basis: 44%;
    }
  }
}

.stages-section {
  .stages-section__wrapper {
    .stages {
      margin: 4.2% 0;
    }
  }
}

.forms-section {
  padding: 10px 0;
  .forms-section__wrapper {
    .forms-section__content-container {
      margin: 8% 0 6% 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .forms-section__form-example {
        flex-basis: 48.4%;
      }
      .forms-section__form-component {
        text-align: center;
        flex-basis: 47.25%;
        .forms-section__toggles {
          .standart-heading {
            line-height: 150%;
          }
          .tg-container {
            margin: 12.1% 0 12.4% 0;
          }
        }
        .forms-section__tick-boxes {
          .tcb-container {
            margin-top: 10.5%;
          }
        }
      }
    }
  }  
}

.profile-search-list {
  .profile-search-list__wrapper {
    .search-drop-down-section {
      width: 48.5%;
      .search-drop-down-section__wrapper {
        text-align: center;
        .standart-heading {
          .standart-heading__wrapper {
            & > * {
              word-spacing: 0px;
            }
          }
        }
        .search-drop-down-section__content {
          margin-top: 6.7%;
        }
      } 
    }
  }
}


@import "../blocks/block-heading/heading.scss";
@import "../blocks/block-button/button.scss";
@import "../blocks/block-arrow-btn/arrow-btn.scss";
@import "../blocks/block-svg-percentages/svg-percentages.scss";
@import "../blocks/block-slider/slider.scss";
@import "../blocks/block-stages/stages.scss";
@import "../blocks/block-form-elements/form.scss";
@import "../blocks/block-search/search.scss";
@import "../blocks/red_theme.scss";
@import "../blocks/green_theme.scss";

