@import "search_color_theme/search_color_theme.scss";

.search {
	display: flex;
	width: 100%;
	.search__input {
		border-radius: 5px 0 0 5px;
		padding: 3.8% 0% 3% 4.8%;
		flex-grow: 1;
		min-height: 50px;
	}
	@include placeholder {
		font-size: rem(25);
		letter-spacing: 1px;
	}
	.search__button {
		border-radius: 0 5px 5px 0;
		align-self: stretch;
		display: flex;
		justify-content: center;
		padding: 0 3%;
		.icon-search {
			width: 32px;
			height: 32px;
			align-self: center;
		}
	}
}